@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Patrick+Hand+SC|Sacramento');

//Colors
$body-background: #FFE6DF;
$body-text: #32174D;
$header-background: #32174D;
$header-text: #C9C9FC;
$accent-pink: #EBA1A8;
$accent-blue: #BFFFF9;
$red-face: #ee4035;
$amber-face: #f37736;
$green-face: #7bc043;


//fonts

$header-font: 'Sacramento', sans-serif, cursive;
$subheading-font: 'Patrick Hand SC', sans-serif, cursive;
$body-font: 'EB Garamond', serif;
