@import "variables";

.smilies{
  .text{
    font-family: $subheading-font;
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
  }
  .row{
    color: #8c8c8c;
    font-size: 70px;
    margin-top: 10px;
    .icon{
      padding: 10px;
      &.happy{
        &:hover{
          color: $green-face;
        }
      }
      &.okay{
        &:hover{
          color: $amber-face;
        }
      }
      &.sad{
        &:hover{
          color: $red-face;
        }
      }
    }
  }

  .description{
    font-family: $body-font;
  }
}
