@import "variables";

.smilies{

  text-align: center;
  .text{
    font-family: $subheading-font;
    font-size: 30px;
    margin-top: 20px;
  }
  .row{
    color: #8c8c8c;
    font-size: 70px;
    margin-top: 10px;
    .icon{
      padding: 10px;
      &.happy:hover,
      &.happy0{
        color: $green-face;
      }

      &.okay:hover,
      &.okay1{
          color: $amber-face;
      }
      &.sad:hover,
      &.sad2{
          color: $red-face;

      }
    }
  }

  .description{
    font-family: $body-font;
    font-size: 20px;
  }
}
